<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GestionnaireDexceptions</servlet-name>
  	<display-name>GestionnaireDexceptions</display-name>
  	<description></description>
  	<servlet-class>gestion.exceptions.GestionnaireDexceptions</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GestionnaireDexceptions</servlet-name>
  	<url-pattern>/GestionnaireDexceptions</url-pattern>
  </servlet-mapping>
  
<!--   <error-page> -->
<!--   	<error-code>404</error-code> -->
<!--   	<location>/GestionnaireDexceptions</location> -->
<!--   </error-page> -->

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/GestionnaireDexceptions</location>
	</error-page>

<!--   <error-page> -->
<!-- 	  <exception-type>java.lang.Throwable</exception-type> -->
<!-- 	  <location>/erreurs.jsp</location> -->
<!--   </error-page> -->
  
  <!-- ++++++++++ -->
  <!-- DATASOURCE -->
  <!-- ++++++++++ -->
  
  <!-- Ajout de la référence au datasource configuré -->
  <!-- Pour générer cette configuration, il faut disposer du nom JNDI du datasource, et c'est tout -->
  
  <resource-ref>
<!--       <description>ConnexionAmaBDD</description> -->
      <res-ref-name>jdbc/organisactionDS</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>
